$fontPath: '../fonts/' !default;
$fontName: 'ProximaNova';
$fontNameOther: 'Open Sans', arial;

// COLORS
$colorPrimary: #007cbc;
$colorPrimaryLight: #1ba0e6;
$colorPrimaryDark: #004a74;
$colorAccent: #1ebb78;
$colorAccentLight: #07d28a;
$colorDanger: #bb2123;
$colorDefaultDark: #787878;
$colorDefault: #95a3ac;
$colorDefaultLight: #c5c5c5;
$colorNeutral: #FFF;
$gutter-xs: 5px;
$gutter-sm: 10px;
$gutter-sm-md: 15px;
$gutter-md: 20px;
$gutter-lg: 30px;
$gutter-xl: 40px;
$gutter-xxl: 60px;


$breakPoint-md: 792px;